/* COMMON */

.tags {
  color: #001942;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  padding: 10px;
}

header .header_wrapper .logo {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

header .header_wrapper nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  list-style: none;
}

header .header_wrapper nav ul li {
  padding: 5px 10px;
  font-size: 18px;
  margin-right: 20px;
  border-radius: 5px;
}

header .header_wrapper nav ul li:hover {
  background: #DAEDF3;
}

header .header_wrapper nav ul li a {
  text-decoration: none;
}

header .header_wrapper nav ul li a:visited {
  color: #001942;
}

header .header_wrapper nav ul li.active {
  background-color: lightblue;
}

/* MAIN */

/* Home */

.jumbotron {
  width: 100%;
}

.jumbotron img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Prodotti */

.products_wrapper {
  background: #DAEDF3;
}

.products_wrapper .type_section {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.products_wrapper .type_section h1 {
  font-weight: 500;
  color: #001942;
  width: 100%;
  margin-left: 10px;
}

.products_wrapper .type_section .product_template {
  width: calc(100% / 3 - 20px);
  height: 250px;
  margin: 10px 8px;
  position: relative;
}

.products_wrapper .type_section .product_template img {
  width: 100%;
  height: 100%;
}

.products_wrapper .type_section .product_template .layover {
  display: none;
  width: 100%;
  height: 100%;
}

.products_wrapper .type_section .product_template .layover a {
  padding: 50px;
  color: #002d73;
  text-decoration: none;
}

.products_wrapper .type_section .product_template .layover a:visited {
  color: #002d73;
}

.products_wrapper .type_section .product_template:hover .layover {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.details_wrapper .posters {
  background: #B8DAE4;
}

.details_wrapper .posters img {
  width: 100%;
}

.details_wrapper .infos {
  font-size: 20px;
  padding: 100px;
  color: #002d73;
  background: #DAEDF3;
  line-height: 40px;
}

