//
/* COMMON */
@import 'partials/variables';
@import 'partials/common';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
header {
    padding: 10px;
    .header_wrapper {
        .logo {
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        nav ul {
            width: fit-content;
            margin: 0 auto;
            display: flex;
            list-style: none;
            li {
                padding: 5px 10px;
                font-size: 18px;
                margin-right: 20px;
                border-radius: 5px;
                &:hover {
                    background: $molisana_background;
                }
                a {
                    text-decoration: none;
                    &:visited {
                        color: $molisana_titles;
                    }
                }
            }
            li.active {
                background-color: lightblue;
            }
        }

    } 
}

/* MAIN */
/* Home */
.jumbotron {
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}

/* Prodotti */
.products_wrapper {
    background: $molisana_background;
    .type_section {
        padding: 15px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        h1 {
            font-weight: 500;
            color: $molisana_titles;
            width: 100%;
            margin-left: 10px;
        }
        .product_template {
            width: calc(100% / 3 - 20px);
            height: 250px;
            margin: 10px 8px;
            position: relative;
            img {
                width: 100%;
                height: 100%;    
            }
            .layover {
                display: none;
                width: 100%;
                height: 100%;
                a { 
                    padding: 50px;
                    color: $molisana_descriptions;
                    text-decoration: none;
                    &:visited {
                        color: $molisana_descriptions;
                    }
                }
                
            }
            &:hover .layover{
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

// Dettaglio
.details_wrapper {
    .posters {
        background: #B8DAE4;
        img {
            width: 100%;
        }
    }
    .infos {
        font-size: 20px;
        padding: 100px;
        color: $molisana_descriptions;
        background: $molisana_background;
        line-height: 40px;
    }
}
